@media (max-width: 1050px) {

    .mini-cards-list {
        grid-template-columns: repeat(2, 450px) !important; 
        justify-content: center;
    }

    .couldnt-find p {
        font-size: 14px;
    }

    .skeleton_mini-card_logo { 
        height: 280px;
    }

}


@media (max-width: 950px) {

    .mini-cards-list {
        grid-template-columns: repeat(2, 400px) !important; 
        justify-content: center;
    }


    .skeleton_mini-card_logo { 
        height: 220px;
    }

}


@media (max-width: 830px) {
    .mini-cards-list {
        grid-template-columns: repeat(1, 680px)  !important; 
        justify-content: center;
    }

    .skeleton_mini-card_logo { 
        height: 350px;
    }

    .skeleton-shell {
        padding: 20px 50px 20px 50px;
    }

    .skeleton_words {
        margin-bottom: 20px;
    }

}

@media (max-width: 730px) {
    .mini-cards-list {
        grid-template-columns: repeat(1, 580px)  !important; 
    }

    .skeleton-shell {
        padding: 15px 40px 20px 40px;
    }

    .skeleton_mini-card_logo { 
        height: 300px;
    }
}


@media (max-width: 630px) {
    .mini-cards-list {
        grid-template-columns: repeat(1, 520px)  !important; 
    }

    .skeleton-shell {
        padding: 15px 30px 20px 30px;
    }

    .skeleton_mini-card_logo { 
        height: 250px;
    }
}



@media (max-width: 540px) {
    .mini-cards-list {
        grid-template-columns: repeat(1, 470px)  !important; 
    }

    .skeleton_mini-card_logo { 
        height: 220px;
    }

    .skeleton-shell {
        padding: 15px 20px 15px 20px;
    }
}


@media (max-width: 490px) {
    .mini-cards-list {
        grid-template-columns: repeat(1, 420px)  !important; 
    }

    .skeleton-shell {
        padding: 15px 15px 10px 15px;
    }

    .skeleton-user_name {
        width: 120px !important;
        min-width: 120px !important;
    }

}

@media (max-width: 430px) {
    .mini-cards-list {
        grid-template-columns: repeat(1, 400px)  !important; 
    }

}

@media (max-width: 400px) {
    .mini-cards-list {
        grid-template-columns: repeat(1, 380px)  !important; 
    }

}

@media (max-width: 380px) {
    .mini-cards-list {
        grid-template-columns: repeat(1, 360px)  !important; 
    }

}